/* Fonty */
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,latin-ext);

*, body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', Georgia, serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-family: 'Open Sans', 'sans-serif';
}
h1 {
	text-transform: uppercase;
	font-weight: 700;
}
.no-bullet {list-style-type: none;}

header.contain-to-grid {
	z-index: 900;
	position: fixed;
}

div.wrap {
	min-height: 100%;
	background: #fff;
	padding-top:50px;
}
div.wrap {
	width: 100%;
	overflow: hidden;
}

.cesty-quantity { /*počítadlo*/
	background-color: #c0392b;
	border-radius: 1000px;
	border: 1px solid #fff;
	color: white;
	font-size: 11px;
	font-weight: 500;
	padding: 2px 7px;
	position: relative;
	text-align: center;
	text-shadow: none;
	top: -7px;
	left: -11px;
	z-index: 10;
}


/* Off Canvas */

.wrap,
.contain-to-grid,
.cesta footer,
.cesta header {

	/* Super-compliant Transition :) */
-webkit-transition: -webkit-transform 0.22s ease-in-out;
transition: -webkit-transform 0.22s ease-in-out;
-webkit-transition: -webkit-transform 0.22s ease-in-out;
transition: transform 0.22s ease-in-out;

-webkit-transform: translate3d(0px, 0, 0);
transform: translate3d(0px, 0, 0);

}

.wrap.menu-open,
.contain-to-grid.menu-open {
	-webkit-transform: translate3d(-25rem, 0, 0);
	transform: translate3d(-25rem, 0, 0);
}
.cesta .wrap.menu-open,
.cesta footer.menu-open,
.cesta header.menu-open {
	-webkit-transform: translate3d(15rem, 0, 0);
	transform: translate3d(15rem, 0, 0);
}
.menu-open li:not(.has-form) a:not(.button).menu,
.off-canvas.menu {
	background-color: #2A8B6D;
}
.off-canvas.menu {
	position: fixed;
	top: 0px; right: 0px;
	color: #999;
	height: 100%;
	width: 25rem;
	z-index: -100;
	padding: 1.5rem;
	padding-left: 0;
	padding-top: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: scroll;
}
@media only screen and (max-width: 40.063em) {
	.off-canvas.menu {
		width: 17rem;
	}
	.wrap.menu-open,
	.contain-to-grid.menu-open {
		-webkit-transform: translate3d(-17rem, 0, 0);
		transform: translate3d(-17rem, 0, 0);
	}
}
.off-canvas.menu > hr:first-of-type {
	margin-top: 1.05rem;
	border-color: #3DC89C;
}
.cesta .off-canvas.menu {
	width: 15rem;
	left: 0px;
	padding: 1.5rem 0.75rem;
}
.off-canvas.menu > .row:first-child {
	border-bottom: 2px solid #3DC89C;
}
.off-canvas.menu h3 {
	color: #3dc89c;
	margin-bottom: 0;
	margin: 0;
	line-height: 48px;
	/*font-weight: 100;*/
	font-size: 1.5rem;
}
.off-canvas.menu p,
.off-canvas.menu h4,
.off-canvas.menu h4 a,
.navod li {
	color: #F6F4E8;
	font-family: 'Open Sans', 'sans-serif';
}
.off-canvas.menu h4 a {
	text-transform: uppercase;
	color: white;
}
.off-canvas.menu p,
.off-canvas.menu h4,
.navod li {
	font-size: .75rem;
}
.off-canvas.menu ul#list {
	text-align: left;
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
.off-canvas.menu ul#list > li {
	-webkit-transition: -webkit-transform .22s,box-shadow .22s;
	transition: transform .22s,box-shadow .22s;
	box-shadow: 0 0 0 -.25rem rgba(0,0,0,.1);
	border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem;
}
.off-canvas.menu ul#list:hover > li {
	opacity: .5;
	-webkit-transform: scale(0.98);
	transform: scale(0.98);
	background-color: transparent;
	/*Can help to prevent from blur*/
	backface-visibility: hidden;
	/*transform: translateZ(0);*/
	/*	-webkit-font-smoothing: subpixel-antialiased;*/
}
.highlight,
.off-canvas.menu ul#list:hover > li:focus,
.off-canvas.menu ul#list:hover > li:hover,
.off-canvas.menu ul#list:hover > li.sortable-ghost {
	background-color: #F6F4E8;
	-webkit-transform: scale(1);
	transform:scale(1);
}
.off-canvas.menu ul#list:hover > li:first-child.highlight,
.off-canvas.menu ul#list:hover > li:first-child:focus,
.off-canvas.menu ul#list:hover > li:first-child:hover,
.off-canvas.menu ul#list:hover > li:first-child.sortable-ghost {
	border-top-right-radius: 0rem;
}
.highlight,
.off-canvas.menu ul#list:hover > li:focus,
.off-canvas.menu ul#list:hover > li:hover {
/*	box-shadow: 0 .5rem .25rem -.25rem rgba(0,0,0,.2);
*/	opacity: 1;
-webkit-transition: -webkit-transform .088s,box-shadow .088s,background-color .088s;
transition: transform .088s,box-shadow .088s,background-color .088s;
z-index: 99999;
}
.highlight__auto {
	background-color: auto;
	-webkit-transition: background-color .288s;
	transition: background-color .288s;
}
.highlight p,
.off-canvas.menu ul#list:hover > li:focus p,
.off-canvas.menu ul#list:hover > li:hover p {
	color: #2A8B6D;
	backface-visibility: hidden;
}
.highlight h4 a,
.off-canvas.menu ul#list:hover > li:focus h4 a,
.off-canvas.menu ul#list:hover > li:hover h4 a {
	color: #212121;
	backface-visibility: hidden;
}
.off-canvas.menu ul#list:hover > li.sortable-ghost {
	opacity: 0.4;
	box-shadow: inset 0 0 13rem red;
}
.off-canvas.menu ul#list > li:hover /* .icon-menu */ {
	cursor: move;
}
.off-canvas.menu ul#list > li {
	border-bottom: 1px solid rgba(61,200,156,.25); /*#3DC89C*/
	padding: 1.4rem 0;
}
.off-canvas.menu ul#list > li p {
	margin-bottom: 0;
	backface-visibility: hidden;
	opacity: .75;
}

.off-canvas.menu a.button {
	background-color: rgba(0, 0, 0, .3);
	box-shadow: 0px 3px 0px rgba(0, 0, 0, .6);
	border-radius: 5px;
}
.off-canvas.menu a.button:hover {
	box-shadow: none;
}

.off-canvas.menu .navod li,
.off-canvas.menu .navod h4,
.navod [class^="icon-"], .navod [class*=" icon-"] {
	color: #373737;
}
.icon-close {
	font-size: 75%;
}
.top-bar ul.center {
	margin: 0 auto;
	width: 100%;
}
.cesta {
	/*	overflow: hidden;*/
}
.cesta .wrap {
	padding: 6.5rem 0;
	background-color: whitesmoke;
}
.cesta header,
.cesta footer {
	position:fixed;
	left:0px;right:0px;
	z-index: 100;
	background-color: #fff;
	height: 50px;
	line-height: 50px;
}
.cesta header {
	top:0px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.cesta footer {
	bottom:0px;
	border-top: 1px solid rgba(0,0,0,.1);
}
.cesta aside.off-canvas.menu {
	background-color: white;
	border-right: 1px solid rgba(0,0,0,.1);
}
.cesta aside.off-canvas.menu h3 {
	color: orange;
	margin: 0px;
}
.cesta aside.off-canvas.menu > .row:first-child h3 small,
.cesta aside.off-canvas.menu > .row:first-child .columns {
	line-height: 90px;
}
.cesta aside.off-canvas.menu > .row:first-child {
	height: 90px;
}
.cesta aside.off-canvas.menu ul {
	font-size: 85%;
}
.cesta section {
/*	position: fixed;
	top: 0px;
	right: 0;
	left: 0;
	bottom: 0;*/
}
.cesta .obsah > .columns {
/* 	Vertical centering
	– http://www.vanseodesign.com/css/vertical-centering/
	– http://codepen.io/shshaw/full/gEiDt

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 60%;
	height: 70%;
	min-width: 10rem;
	max-width: 65rem;
	padding: 1.8rem;
	margin: auto;
	overflow: auto;	*/

}
.cesta header img {
	margin-top: -4px;
}
.cesta header h2 {
	line-height: 1;
	margin: 0;
}
.cesta header h2 small {
	color: #999999;
	font-weight: 100;
}
.cesta .obsah p,
.cesta .obsah h6 {
	font-family: 'Gentium Book Basic', Georgia, serif;
}
.cesta .panel {
	border: none;
	background-color: white;
	max-width: 50rem;
	margin: 0 auto;
	padding: 1.8rem;
}
.cesta .progress {
	border: 1px solid #FFF;
	height: 12px;
	margin-top: 19px;
	background-color: whitesmoke;
}
.cesta .progress .meter {
	background-color: #3DC89C;
}
/* Buttons animations */

/*	Header Customization  */
.top-bar,
.contain-to-grid,
.top-bar-section .has-form,
.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: #3dc89c;
}
header.contain-to-grid {
	border-bottom: 2px solid #2a8b6d;
	height: 50px;
}
.top-bar-section > ul > .divider {
	border-right: 2px solid #78ceb3;
	height: 48px;
}
.top-bar-section ul {
	background-color: inherit!important;
}
.top-bar-section li:not(.has-form) a:hover:not(.button) {
	background-color: #2a8b6d;
}
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:hover:not(.button) {
	-webkit-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
}
a.menu, .top-bar li a:not(.button) {
	height: 48px;
	line-height: 35px;
}
.top-bar li a:not(.button):not(.menu) {
	padding-top: 3px!important;
}
li.name {padding-top: 2px;}
.top-bar svg,
.top-bar img {
	vertical-align: middle;
	margin-top:-3px;
}
.arrow-cesta {
	font-weight: bold;
	font-size: 2em;
	margin-left: 5px;
	line-height: 100%;
}
.searchbox {
	border: 1px solid #2a8b6d;
	border-radius: 4px;
	height: 35px;
	margin-top: 7px;
	width:240px;
}
.searchbox input[type="text"] {
	background: none;
	border: none;
	box-shadow: none;
	color: rgba(255,255,255,1);
	margin-top: -9px;
	width: 200px;
}
.searchbox input[type="text"]:focus {
	background: none;
	box-shadow: none;
	color: rgba(255,255,255,1);
}
.searchbox .button {
	background:none;
	float: right;
	margin-right:2px;
	margin-top:-5px;
	padding: 0.45em;
	padding-bottom: 0.50em;
	box-shadow: none;
}
.searchbox:hover .button {
	background: #2a8b6d;
	-webkit-transform: translate(0, 0px);
	transform: translate(0, 0px);
	transform: none;
	box-shadow:none;
}
/* Placeholder Color
- http://css-tricks.com/snippets/css/style-placeholder-text/ */
::-webkit-input-placeholder {
	color: rgba(255,255,255,0.5);
	opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
	color: rgba(255,255,255,0.5);
	opacity: 1;
}
::-moz-placeholder {  /* Firefox 19+ */
	color: rgba(255,255,255,0.5);
	opacity: 1;
}
:-ms-input-placeholder {
	color: rgba(255,255,255,0.5);
	opacity: 1;
}
/* Responsive menu fix */
nav.top-bar,
.top-bar .title-area {
	height: 48px;
}
.top-bar.expanded .title-area {
	height: 50px;
	background:#2a8b6d;
}
.top-bar.expanded .toggle-topbar a:after {
	box-shadow: 0px 10px 0px 1px #FFF, 0px 16px 0px 1px #FFF, 0px 22px 0px 1px #FFF
}
.top-bar .toggle-topbar.menu-icon a,
.top-bar.expanded .toggle-topbar a {
	color: #FFF;
	line-height: 22px;
}
.top-bar.expanded .columns {height: 48px;}
.top-bar.expanded .searchbox input[type="text"] {
	margin-top: inherit;
}
.top-bar.expanded .searchbox .button {
	margin-top: 4px;
}
.top-bar.expanded .divider {
	height: inherit;
	border-top: 1px solid #78ceb3;
}
.top-bar.expanded a.menu {
	height: auto;
}
.top-bar.expanded .searchbox,
.top-bar.expanded .searchbox input[type="text"] {
	width: 100%;
	margin-top: 0px;
}
/* .row expanded
*/
.row,
.contain-to-grid .top-bar {
	max-width: 72.5rem;
}
.wrap > .row:first-child {
	border-left: 1px solid #f6f4e8;
}
@media only screen and (min-width: 90.063em) {
	.wrap > .row:first-child {
		border-left: 1px solid #e2e3dd;
	}
}
/* Sidebar
*/
.mep-sidebar {
	background: #f6f4e8;
	/*border-left: 1px solid #e2e3dd;*/
	border-right: 1px solid #e2e3dd;
	padding: 0 1.5rem;
}
@media only screen and (max-width: 40.063em) {
	.mep-sidebar {
		border-bottom: 1px solid #e2e3dd;
		border-right: 0;
	}
}
.mep-sidebar:before {
	position:absolute;
	content: "";
	background:#f6f4e8;
	left:-1000px;
	width:999px;
	height:10000%;
	z-index:-999;
}
.mep-sidebar:after {
	position:absolute;
	content: "";
	background:#f6f4e8;
	left: -1px;
	width:100%;
	height:10000%;
	border-left: 1px solid #e2e3dd;
	border-right: 1px solid #e2e3dd;
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	z-index:-999;
}
.mep-sidebar h1 {
	font-weight: normal;
	font-size: 2em;
	text-transform: none;
	color: #5C6D7A;
	line-height: 120%;
	margin-top:3rem;
	margin-bottom: 1.1rem;
	padding-bottom: 2rem;
	border-bottom: 2px solid #e2e3dd;
}
.add {
	float:right;
	margin-top:3rem;
	margin-left:15px;
	width:39px;
	height:35px;
	background: url('../img/pridat-do-cesty.svg');
}
.mep-sidebar h2 {
	font-size: 1em;
	text-transform: uppercase;
	margin-bottom:0px;
	font-weight:bold;
}
.mep-sidebar p,
.mep-sidebar dl {
	font-size: .75rem;
	line-height: 1.6;
}
.mep-sidebar dl {
	opacity: .5;
	padding-left: .9rem;
}
.mep-sidebar dl:before {
	content: "\25B6";
	position: absolute;
	margin-top: 2px;
	margin-left: -0.9rem;
	font-size: .75em;
	opacity: .5;
}
a.button {
	background: #ec6744;
	box-shadow: 0px 3px 0px #7d1200;
	border-radius:5px;
	padding-bottom:0.8rem;
	margin-bottom:5em;
	-webkit-transition: 70ms ease-out;
	transition: 70ms ease-out;
}
a.button:hover {
	box-shadow: 0px 0px 0px #7d1200;
	background: #ec6744;
	-webkit-transform: translate(0, 3px);
	transform: translate(0, 3px);
	-webkit-transition: 70ms ease-out;
	transition: 70ms ease-out;
}
.button svg {vertical-align: middle; }
.button svg,
image.mep-demo {
	margin-top: -5px;
}
.mep-sidebar a:not(.button) {
	color: #ec6744;
	text-decoration: underline;
}
.mep-sidebar a:hover:not(.button) {
	text-decoration: none;
}
.mep-content {
	margin-bottom: 150px;
	background: #fff;
	padding-left: 5%;
	padding-right: 5%;
}

/* Footer */
div.mep-footer {
	border-top: 1px solid #e2e3dd;
	background: #ededed;
	height: 50px;
	z-index: 999;
	position: absolute;
	width: 100%;
	bottom: 0;
	margin-bottom: 0px;
	padding-top: 10px;
}
.mep-footer ul {
	margin-bottom: 0px;
	line-height: 1.3;
	font-size: 0.9em;
	display: inline-block;
}
.mep-footer p {font-size: 0.9em;display: inline-block; color: #BBBCB8;}
.mep-footer svg, .mep-footer img {margin-top: -10px;}
.mep-footer li {display: inline-block;}
.mep-footer li:after {content: " |"}
.mep-footer li:last-child:after {content: ""}
.mep-footer li a {
	color: #5C6D7A;
	text-decoration: underline;
}
/* Experimenty výpis v kategorii
*/
.experiments { /* wrapping div */
	padding-left: 0px;
	padding-right: 0px;
}
.experiments [class*="column"] + [class*="column"]:last-child {
	float: left;
}
.experiment {
	padding-bottom: 3rem;
	-webkit-transition: 500ms;
	transition: 500ms;
}
.experiment,
.katalog .klasifikace li {
	border-bottom: 1px solid rgba(226,227,221,.5); /* #e2e3dd */
}
.experiment:last-child,
.katalog .klasifikace li:last-child {
	border-bottom: 0;
}
.experiment:hover,
.katalog .klasifikace li:hover {
	background: rgba(0,0,0,0.05);
	-webkit-transition: 500ms;
	transition: 500ms;
	border-bottom-right-radius: .25rem;
}
.experiment p {
	font-size: 0.8em;
}
.experiment h3 {
	margin-top: 3rem;
	font-size: 1.5em;
}
.experiment a,
.katalog .klasifikace a:not(.button) {
	color: /*#5C6D7A*/ #222;
	font-weight: bold;
}
.experiment a:hover,
.katalog .klasifikace a:hover:not(.button) {
	text-decoration: underline;
}
.experiment .add {
	margin-top: 3em;
}
.experiment img {
	float: left;
	margin-top: 3rem;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 10px;
	width: 130px;
	height: auto;
}
@media only screen and (max-width: 40.063em) {
	.experiment img {display: none;}
}

/* Katalog */
.katalog .mep-content {
	padding: 0;
}
.katalog .row .row {
	margin: 0;
}
.katalog .row .row .columns {
	padding: 0;
}
.katalog .klasifikace .small-6.columns:first-child {
	border-right: .5rem solid /*#e2e3dd*/ white;
}
.katalog .klasifikace h2 small {
	text-transform: uppercase;
	font-weight: 100;
	color: #e2e3dd;
	font-size: 1rem;
	line-height: 1.4;
	margin-left: 1.5rem;
}
.katalog .klasifikace ul {
	list-style: none;
	width: 100%;
	margin: 0;
	margin-bottom: 1rem;
}
.katalog .klasifikace li {
	text-shadow: 1px 1px 0px #fff;
	padding: 1rem 1.5rem;
}
.katalog .klasifikace li span {
	opacity: .25;
	float: right;
	font-size: .75rem;
}
.katalog .klasifikace li div {
	font-size: .75rem;
	color: rgba(34,34,34,.5);
}
/*.katalog-1 {
	background-color: rgba(0,0,0,0.05);
}
.katalog .klasifikace .katalog-1 h2 small {
	color: white;
}
.katalog .katalog-1 li {
	border-color: white;
}
.katalog .katalog-1 li:hover {
	background-color: white;
	-webkit-transition: 500ms;
	transition: 500ms;
}*/

/* Homepage */
.e-intro
{
	width:100px;
	height:100px;
	background:url(../img/mep3.svg) no-repeat;
	background-size: 100px 100px;
	position:relative;
	display: inline-block;
	animation:rotation 0.7s 1 ease-in-out;
	-webkit-animation:rotation 0.7s 1 ease-in-out; /*Safari and Chrome*/
	-moz-animation:rotation 0.7s 1 ease-in-out; /*Firefox*/
	-o-animation:rotation 0.7s 1 ease-in-out; /*Opera*/
}
@keyframes rotation
{
	from {
		left:300px;
		transform:rotate(360deg);
		-ms-transform:rotate(360deg); /* IE 9 */
		-webkit-transform:rotate(360deg); /* Opera, Chrome, and Safari */
		-moz-transform:rotate(360deg); /* Firefox */
		-o-transform:rotate(360deg); /* Opera*/
	}
	to {
		left:0px;
		transform:rotate(0deg);
		-ms-transform:rotate(0deg); /* IE 9 */
		-webkit-transform:rotate(0deg); /* Opera, Chrome, and Safari */
		-moz-transform:rotate(0deg); /* Firefox */
		-o-transform:rotate(0deg); /* Opera*/
	}
}
@-webkit-keyframes rotation /*Safari and Chrome*/
{
	from {
		left:300px;
		transform:rotate(360deg);
		-ms-transform:rotate(360deg); /* IE 9 */
		-webkit-transform:rotate(360deg); /* Opera, Chrome, and Safari */
		-moz-transform:rotate(360deg); /* Firefox */
		-o-transform:rotate(360deg); /* Opera*/
	}
	to {
		left:0px;
		transform:rotate(0deg);
		-ms-transform:rotate(0deg); /* IE 9 */
		-webkit-transform:rotate(0deg); /* Opera, Chrome, and Safari */
		-moz-transform:rotate(0deg); /* Firefox */
		-o-transform:rotate(0deg); /* Opera*/
	}
}
.mep-intro
{
	position:relative;
	display: inline-block;
	overflow: hidden;
	height: 100px;
	padding-top: 25px;
	animation:mepintro 1.5s 1 ease-in-out;
	-webkit-animation:mepintro 1.5s 1 ease-in-out; /*Safari and Chrome*/
	-moz-animation:mepintro 1.5s 1 ease-in-out; /*Firefox*/
	-o-animation:mepintro 1.5s 1 ease-in-out; /*Opera*/
}
@keyframes mepintro
{
	from {
		text-indent: -9999px;
	}
	to {
		text-indent: 0px;
	}
}
@-webkit-keyframes mepintro /*Safari and Chrome*/
{
	from {
		text-indent: -9999px;
	}
	to {
		text-indent: 0px;
	}
}
.claimbox {
	background-size: 100%;
	height:278px;
}
.intro-wrap {
	margin: auto;
	margin-top: 45px;
	text-align: center;
}
.mep-intro p {
	margin-bottom: 0px;
	line-height: 100%;
	font-size: 2em;
	font-weight: bold;
	color: #222;
}
.intro-wrap h2 {
	margin-top:40px;
	text-shadow: 1px 1px 0px #fff;

}
.homepagewrap {
	width: 100%;
	background-color: #f6f4e8;
	background: url(../img/kolaz1.png) #f6f4e8 no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}
.cestawrap {
	width: 100%;
	background-color: #f6f4e8;
}

@media only screen and (max-width: 40.063em) {
	.mep-sidebar:after {
		background: #fff;
		border-right: none;
		border-left: none;
	}
	div.mep-footer {height: auto;}
	.katalog-1 {margin-bottom:inherit;}
}