@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-gvxvji');
	src:url('../fonts/icomoon.eot?#iefix-gvxvji') format('embedded-opentype'),
	url('../fonts/icomoon.woff?-gvxvji') format('woff'),
	url('../fonts/icomoon.ttf?-gvxvji') format('truetype'),
	url('../fonts/icomoon.svg?-gvxvji#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	line-height: 1.3;
	color: rgba(169,169,169,.8);

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Don't show shadows when selecting text */
/*::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }
*/
.icon-list:before {
	content: "\e600";
}
.icon-list2:before {
	content: "\e601";
}
.icon-menu:before {
	content: "\e602";
}
.icon-menu2:before {
	content: "\e603";
}
.icon-star:before {
	content: "\e604";
}
.icon-star2:before {
	content: "\e605";
}
.icon-heart:before {
	content: "\e606";
}
.icon-heart2:before {
	content: "\e607";
}
.icon-heart-broken:before {
	content: "\e608";
}
.icon-close:before {
	content: "\e609";
}
.icon-checkmark:before {
	content: "\e60a";
}
.icon-checkmark2:before {
	content: "\e60b";
}
.icon-arrow-left:before {
	content: "\e60c";
}
.icon-uniE60D:before {
	content: "\e60d";
}

.icon-close {
	cursor: pointer;
}
.icon-close:hover {
	color: red;
}
.cesta .icon-menu2,
.cesta .icon-uniE60D,
.cesta .icon-arrow-left {
	-webkit-transition: all 150ms;
	transition: all 150ms;
}
.cesta .icon-menu2:hover,
.cesta .icon-uniE60D:hover,
.cesta .icon-arrow-left:hover {
	color: gray;
}