@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-gvxvji');
	src:url('../fonts/icomoon.eot?#iefix-gvxvji') format('embedded-opentype'),
	url('../fonts/icomoon.woff?-gvxvji') format('woff'),
	url('../fonts/icomoon.ttf?-gvxvji') format('truetype'),
	url('../fonts/icomoon.svg?-gvxvji#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	line-height: 1.3;
	color: rgba(169,169,169,.8);

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
li:focus [class^="icon-"], li:focus [class*=" icon-"],
li:hover [class^="icon-"], li:hover [class*=" icon-"] {
	text-shadow: 1px 2px 4px #008CBA, 0px 0px 0px #000, 1px 2px 4px #008CBA;
}
/* Don't show shadows when selecting text */
::-moz-selection { /*background: #5af; color: #fff;*/ text-shadow: none; }
::selection { /*background: #5af; color: #fff;*/ text-shadow: none; }

.icon-list:before {
	content: "\e600";
}
.icon-list2:before {
	content: "\e601";
}
.icon-menu:before {
	content: "\e602";
}
.icon-menu2:before {
	content: "\e603";
}
.icon-star:before {
	content: "\e604";
}
.icon-star2:before {
	content: "\e605";
}
.icon-heart:before {
	content: "\e606";
}
.icon-heart2:before {
	content: "\e607";
}
.icon-heart-broken:before {
	content: "\e608";
}
.icon-close:before {
	content: "\e609";
}
.icon-checkmark:before {
	content: "\e60a";
}
.icon-checkmark2:before {
	content: "\e60b";
}
.icon-arrow-left:before {
	content: "\e60c";
}
.icon-uniE60D:before {
	content: "\e60d";
}

.icon-close {
	cursor: pointer;
}
.icon-close:hover {
	color: red;
}
/* CHECKBOXES */

/*label {
  display:inline-block;
  user-select:none;
  position:relative;
  width:.85rem;
  height:.85rem;
  border:.125rem solid gray;
  border-radius:.25rem;
  transition:.25s;
  cursor:pointer;
  overflow:hidden;
  color:rgba(250,250,250,.5);
  font:normal .4rem/1.67 "icomoon";
  text-align:center;
  margin:.5rem;
}
label:after { content:"\e60a"; }

label:hover {
  border-color:black;
  color:black;
}
label:active {
  transition:0;
  -webkit-filter:brightness(.8);
}
input:checked + label {
  color:limegreen;
}
input:checked + .green-border {
  border-color:black;
  background:white;
  box-shadow:0 0 0 .25rem black;
}

input:checked + .green {
  border-color:limegreen;
  background:white;
  box-shadow:0 0 0 .25rem limegreen;
}

input:checked + .green-background {
  border-color:limegreen;
  background:limegreen;
  box-shadow:0 0 0 .25rem limegreen;
  color:white;
}


input:checked + label {
  animation:boom .5s;
}

@keyframes boom {
  25%{ transform:scale(1.25); }
}

input { display:none; }*/
